
form {
    .inputField {
      padding: 10px;
      border-radius: 5px;
      border: none;
      margin-bottom: 10px;
      background-color: #FFF;
    }
    h2, .txtCenter {
      text-align: center;
      font: 1em sans-serif;
    }
    .btn {
      width: 100%;
      padding: 10px;
      font-weight: bold;
      color: #FFF;
      background-color: #000;
      border-radius: 5px;
      border: none;
    }
    .black{
      color: black;
    }
  }